
services:
  postgres:
    image: postgres:18
    container_name: rag_postgres
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
     - rag_postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  api:
    build: .
    container_name: rag_api
    env_file:
      - .env.docker
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      qdrant:
        condition: service_started
      redis:
        condition: service_started
    volumes:
      - .:/app

  worker:
    build: .
    container_name: rag_worker
    env_file:
      - .env.docker
    depends_on:
      postgres:
        condition: service_healthy
      qdrant:
        condition: service_started
      redis:
        condition: service_started
    volumes:
      - .:/app
    command: ["dramatiq", "app.workers.tasks"]



  qdrant:
    image: qdrant/qdrant:latest
    container_name: rag_qdrant
    ports:
      - "6333:6333"
    volumes:
      - rag_qdrant_data:/qdrant/storage
  
  redis:
    image: redis:7
    container_name: rag_redis
    ports:
      - "6379:6379"
    

volumes:
  rag_postgres_data:
  rag_qdrant_data: